<h1>gthjk</h1>
 <div style="border: 2px solid red; width: 200px; height: 300px"> 
     <form action="/register" method="post">
	  <label>Имя</label><br>
	  <input type="text" name="userName"><br><br>
	   <label>Год рождения</label><br>
	  <input type="number" name="userAge"><br><br>
	 <input type="submit" value="Отправить">
	 </form>


	</div>
	<a href="/register">Ссылка на регистр</a>
		
 