<h1>HTML формы</h1>
<div id="formdiv" style="width: 300px; height:300; border: 1px solid red; 
padding: 5px;">

{{!-- <form action="/regis" method="POST">
    <label>Name</label><br>
    <input type="text" name="userName" /><br><br>
    <label>Age</label><br>
    <input type="number" name="userAge" /><br><br>
    <input type="submit" value="Send" />
</form> --}}

<form action="/regis" method="POST">
    <label>Высота</label><br>
    <input type="numer" name="dlina" /><br><br>
    <label>Длина</label><br>
    <input type="number" name="height" /><br><br>
    <input type="submit" value="Send" />
</form>

</div>
<a href="/regis">ghj</a>

