{{!-- Name Student : {{par1}}<br>
Age Student : {{par2}} --}}
<div id="formdiv" style="width: 300px; height:300; border: 1px solid red; 
padding: 5px;">

Площадь : {{par1}}<br>
Периметр : {{par2}}
</div>
